<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8"></meta>
    <title>Test Report</title>
    <script src="js/jquery-3.5.1/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
    <script src="js/echarts/echarts.min.js"></script>
    <link rel="stylesheet" href="js/bootstrap-4.5.0-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <style>
        body {
            background: #fdfcf8;
            font-family: 'Lato','Roboto',Arial,Tahoma,sans-serif;
        }

        span {
            font-weight: bold;
        }

        .row {
            margin-top: 20px;
        }
        #summary{
            height:400px;

        }

        .content{
            border-top: solid 1px #ddd;
            background-color: #fff;
        }
        .title{
            margin-top: 20px;
            text-align:center;
            font-size:2em;
        }

        .table-responsive {
            overflow-x: hidden !important;
        }

        td.details-control {
            background: url('js/icons/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.details td.details-control {
            background: url('js/icons/details_close.png') no-repeat center center;
        }
    </style>
    <script>
        var exceptions = {
            #foreach ($suite in $suiteList)
                #foreach($testRun in $suite.getTestRunResults())
                    #foreach($test in $testRun.getAllTests())
                            $test.hashCode(): "$test.getStackTrace()",
                    #end
                #end
            #end
        };
        var caseData = [
            #foreach ($suite in $suiteList)
                #foreach($testRun in $suite.getTestRunResults())
                    #foreach($test in $testRun.getAllTests())
                        {
                            Suite: "$suite.getSuiteName()",
                            TestRun: "$testRun.getName()",
                            Class: "$test.getClassName()",
                            Groups: "$test.getGroups()",
                            CaseName: "$test.getName()",
                            Duration: "$test.getDuration()",
                            #if($test.getStatus()=='SUCCESS')
                                Status: '<span class="badge badge-success">$test.getStatus()</span>',
                            #else
                                Status: '<span class="badge badge-danger">$test.getStatus()</span>',
                            #end
                            DT_RowId: "$test.hashCode()"
                        },
                    #end
                #end
            #end
        ]

        function format(d) {
            return exceptions[d];
        }

        $(document).ready(function () {
            var dt = $('#caseTable').DataTable({
                "data": caseData,
                "processing": true,
                "serverSide": false,
                "columns": [
                    {
                        "class": "details-control",
                        "orderable": false,
                        "data": null,
                        "defaultContent": ""
                    },
                    {"data": "Suite"},
                    {"data": "TestRun"},
                    {"data": "Class"},
                    {"data": "Groups"},
                    {"data": "CaseName"},
                    {"data": "Duration"},
                    {"data": "Status"}
                ],
                "order": [[1, 'asc']]
            });

            // Array to track the ids of the details displayed rows
            var detailRows = [];

            $('#caseTable tbody').on('click', 'tr td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = dt.row(tr);
                var idx = $.inArray(tr.attr('id'), detailRows);
                if (row.child.isShown()) {
                    tr.removeClass('details');
                    row.child.hide();

                    // Remove from the 'open' array
                    detailRows.splice(idx, 1);
                } else {
                    tr.addClass('details');
                    row.child(format(row.id())).show();

                    // Add to the 'open' array
                    if (idx === -1) {
                        detailRows.push(tr.attr('id'));
                    }
                }
            });

            // On each draw, loop over the `detailRows` array and show any child rows
            dt.on('draw', function () {
                $.each(detailRows, function (i, id) {
                    $('#' + id + ' td.details-control').trigger('click');
                });
            });
        });
    </script>
</head>
<body>
<div class="title">
    <span>Test report for product</span>
</div>
<div class="row" id="summary">
    <div class="col-md-1">
    </div>
    <div class="col-md-2 content">
        <h3>Summary</h3>
        <div style="font-size:1.25em;margin-top:30px">
            <p><span>Date:</span> $allSuites.getDate()</p>
            <p><span>Total cases:</span>$allSuites.getTotalNumber()</p>
            <p><span>Passed:</span> $allSuites.getPassedNumber()</p>
            <p><span>Failed:</span> $allSuites.getFailedNumber()</p>
            <p><span>Skipped:</span> $allSuites.getSkippedNumber()</p>
            <p><span>Duration:</span> $allSuites.getDurationString()</p>
        </div>
    </div>
    <div class="col-md-2 content" id="overall">
    </div>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('overall'));
        var option = {
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b}: {c} ({d}%)'
            },
            legend: {
                orient: 'horizontal',
                left: 10,
                data: ['passed', 'failed', 'skipped']
            },
            series: [
                {
                    name: 'Case number',
                    type: 'pie',
                    radius: ['80%', '40%'],
                    avoidLabelOverlap: false,
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: [
                        {
                            value: $allSuites.getPassedNumber(), name: 'passed', itemStyle: {
                                // 设置扇形的颜色
                                color: 'green'
                            }
                        },
                        {
                            value: $allSuites.getFailedNumber(), name: 'failed', itemStyle: {
                                // 设置扇形的颜色
                                color: '#B22222'
                            }
                        },
                        {
                            value: $allSuites.getSkippedNumber(), name: 'skipped', itemStyle: {
                                // 设置扇形的颜色
                                color: 'gray'
                            }
                        }
                    ]
                }
            ]
        };
        myChart.setOption(option);
    </script>
    <div class="col-md-6 content" id="suitesChart">
    </div>
    <div class="col-md-1">
    </div>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('suitesChart'));
        var option = {
            title: {
                text: 'Statistics by suite',
                subtext: ''
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                data: ['passed', 'failed', 'skipped']
            },
            grid: {
                left: 100
            },
            toolbox: {
                show: true,
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01]
            },
            yAxis: {
                type: 'category',

                data: [
                    #foreach ($suite in $suiteList)
                        '$suite.getSuiteName()',
                    #end
                ]
            },
            series: [
                {
                    name: 'pass',
                    type: 'bar',
                    data: [
                        #foreach ($suite in $suiteList)
                                $suite.getPassedNumber(),
                        #end
                    ],
                    barWidth: 25,
                    itemStyle: {
                        // 设置扇形的颜色
                        color: 'green'
                    }
                },
                {
                    name: 'fail',
                    type: 'bar',
                    data: [
                        #foreach ($suite in $suiteList)
                                $suite.getFailedNumber(),
                        #end
                    ],
                    barWidth: 25,
                    itemStyle: {
                        // 设置扇形的颜色
                        color: '#B22222'
                    }
                },
                {
                    name: 'skipp',
                    type: 'bar',
                    data: [
                        #foreach ($suite in $suiteList)
                                $suite.getSkippedNumber(),
                        #end
                    ], barWidth: 25,
                    itemStyle: {
                        // 设置扇形的颜色
                        color: 'gray'
                    }
                }
            ]
        };
        myChart.setOption(option);
    </script>
</div>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 content">
        <div class="table-responsive">
            <h3>Executed cases</h3>
            <table class="display" id="caseTable">
                <thead>
                <tr>
                    <th></th>
                    <th>Suite</th>
                    <th>TestRun</th>
                    <th>Class</th>
                    <th>Groups</th>
                    <th>CaseName</th>
                    <th>Duration</th>
                    <th class="filter">Status</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>
</body>
</html>
