# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\tech_projects\github\ConcentratedReport4J\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
